*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}:root{
    font-family: 'Bad Script', cursive;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Raleway', sans-serif;

    --green1:#cad2c5;
    --green2:#84a98c;
    --green3:#52796f;
    --green4:#354f52;
    --green5:#2f3e46;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-size: contain;
    background-color: black;
}

/* ----------------HEADER---------------- */
header{
    margin: 5rem 5rem 0; 
    display: flex;
    flex-direction: row;
    align-items: center;
}
.burger-content img{
    width: 30px;
    filter: blur(0.4px);
    margin: 0 4rem 0 0 ;
}
header h1{
    font-family: 'Bodoni Moda', serif;
    margin-right: 0.4rem;
    color:var(--green1);
    font-size: medium;
}
.menu{
    font-family: 'Bad Script', cursive;
}
.glass-container-logo{
    display: flex;
    align-items: center;
}
/* ----------------BURGER---------------- */
.burger-nav-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 7rem;
    left: 5rem;
    height: 80%;
    padding: 0 4rem 0;
    border-radius: 20px 0 0 20px;
    background-image: linear-gradient(0deg, #d9afd9eb 0%, #97dae1f2 100%);
  
}
.burger-nav-content li{
    list-style: none;
    margin: 2rem 0;
}
.burger-nav-content a{
    font-family: 'Raleway', sans-serif;
    font-size: small;
    text-decoration: none;
    color: var(--green4);
}
.inactive{
    display: none;
}
.inactcta{
    display: none;
}
/* ----------------CTA---------------- */
.main-cta-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
/* .cta-green-content, .cta-red-content, .cta-blue-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
} */
        /* ------------INFO------------ */

.cta-content img{
    position: absolute;
    opacity: 5%;
    width: 30%;
    top: 5rem;

}
.cta-content h1{
    font-family: 'Bodoni Moda', serif;
    color:var(--green1);
    font-size: 50px;
}

.cta-content p{
    font-family: 'Raleway', sans-serif;
    font-size: 80%;        
    color:var(--green1);
    margin: 1.5rem 0;
}
.cta-content a{
    text-decoration: none;
    color: var(--green1);
    background-color: var(--green4);
    padding: 1rem 3rem;
    /* box-shadow: 0 0 3px var(--green3); */
    border-radius: 8px;
}
        /* ------------IMG------------ */
.img-content-green, .img-content-red{
    
}
.img-content-green img, .img-content-red img{
    width:100%;
    filter: drop-shadow(0 0 3px);
    margin: 0 1rem;
}

/* ----------------ASIDE---------------- */
.aside-content{
    position: absolute;
    top: 15rem;
    left: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.cta-change-1, .cta-change-2, .cta-change-3{
    cursor: pointer;
    background-color: var(--green1);
    width: 1px;
    border-radius:10px;
}
.aside-content p{   
    margin: 3rem 0;
    text-align: center;
    background-color: var(--green1);
    width: 8px;
    height: 8px;
    border-radius:5px;

}
figure img{
    width: 20px;
    margin-top: 2rem;
}


/* ----------------FOOTER---------------- */
footer{
    color: var(--green1);
    text-align: center;
    margin: 1rem 3rem;
}
footer p{
    font-family: 'Bad Script', cursive;
    font-size: 12px;
}
.inactive-f{
    display: none;
    font-family: 'Bad Script', cursive;
}