*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}:root{
    font-family: 'Bad Script', cursive;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Raleway', sans-serif;

    --green1:#cad2c5;
    --green2:#84a98c;
    --green3:#52796f;
    --green4:#354f52;
    --green5:#2f3e46;
}

/* ----------------BACKGROUND Y GLASS---------------- */
.background{
    position:absolute;
    background-image: url(https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&w=1080&fit=max&q=80&fm=jpg&crop=entropy&cs=tinysrgb);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    filter: blur(2px);
    
}
.glass-container{
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 93%;
    height: 90%;
    
    display: flex;
    flex-direction: row;
    
    background-color: rgba(196, 196, 196, 0.212);
    border-radius: 20px;
    box-shadow: 10px 10px 7px;
}

/* ----------------HEADER---------------- */
header{
    margin: 3rem 3rem 3%;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
}
.burger-content img{
    width: 30px;
    filter: blur(0.4px);
    margin: 0 4rem 0 0 ;
}
header h1{
    font-family: 'Bodoni Moda', serif;
    margin-right: 0.4rem;
    color:var(--green1);
    font-size: medium;
}
.menu{
    font-family: 'Bad Script', cursive;
}
.glass-container-tittle{
    display: flex;
    align-items: center;
}

/* ----------------CTA---------------- */
.cta-green-content{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}
.cta-content{
    width: 45%;
}
.cta-content h1{
    font-family: 'Bodoni Moda', serif;
    font-size: 5rem;        
    color:var(--green1);
}

.cta-content p{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;        
    color:var(--green1);
    margin-bottom: 1rem;
}
.img-content{
    width: 45%;
}
.img-content img{
    width:100%;
}

.cta-content a{
    text-decoration: none;
    color: var(--green1);
    background-color: rgb(36, 31, 31);
    padding: 0.7rem 3rem;
    box-shadow: 5px 5px 8px var(--green5);
    opacity: 90%;
    border-radius: 8px;
    

}
/* ----------------ASIDE---------------- */
.aside-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;   

}
.aside-content a{
    text-decoration: none;
    color: var(--green1);
    font-size:small;    
    margin: 2rem 0;
    width: 5rem;
    text-align: center;
}
figure img{
    width: 20px;
}

/* ----------------FOOTER---------------- */
footer{
    color: var(--green1);
    text-align: center;
}
.inactive-f{
    display: none;
    font-family: 'Bad Script', cursive;
}